
<style>
        .GIGWMenu {
    width: 100%;
    display: none;
    height: 150px;
    margin-top: 115px;
    position: fixed;
    z-index: 9999999;
}
</style>
<section class="vs-values-wrapper vs-values-layout1 pt-60 pt-lg-130">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-xl-7">
                <div class="section-title">
                    <h2 class="title1">Labour Wing</h2>
                    <span class="icon">
                        <img src="../assets/img/icon/laborers.png" style="width: 20%;" alt="Section Title Icons">
                    </span>
                   @* <p class="text">Registration/Licensing of Contract Labour under The Contract Labour Act, 1970</p>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vs-service-wrapper service-box-layout1 pb-30 pb-lg-100">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-lg-4">
            <div class="vs-service">
               <div class="service-header">
                  <div class="service-image"><img src="../assets/img/icon/shop1.jpg" alt="Service Image"></div>
                  <span class="service-price text-white bg-primary2">Service - I</span>
                  <h3 class="title heading4 text-white"><a href="#">Shops/Comm. Est. Act, 1958</a></h3>
               </div>
               <div class="service-body bg-white">
                  <span class="icon"><i class="flaticon-house"></i></span>
                  <h3 class="title heading4 mb-15"><a href="#">Shops/Comm. Est. Act, 1958</a></h3>
                  <p class="text">Registeration and Amendments.</p>
                  <a href="@Url.Action("ShopsCommercial", "Service")" class="link-btn">Read More<i class="fas fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="vs-service">
               <div class="service-header">
                  <div class="service-image"><img src="../assets/img/icon/labour1.jpg" alt="Service Image"></div>
                  <span class="service-price text-white bg-primary2">Service - II</span>
                  <h3 class="title heading4 text-white"><a href="service.html">Contract Labour Act, 1970</a></h3>
               </div>
               <div class="service-body bg-white">
                  <span class="icon"><i class="flaticon-window-1"></i></span>
                  <h3 class="title heading4 mb-15"><a href="service.html">Contract Labour Act, 1970</a></h3>
                  <p class="text">Registration of Establishment employing contractors.</p>
                  <a href="@Url.Action("ContractLabour", "Service")" class="link-btn">Read More<i class="fas fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>

          <div class="col-md-6 col-lg-4">
            <div class="vs-service">
               <div class="service-header">
                  <div class="service-image"><img src="../assets/img/icon/interstate.jpg" alt="Service Image"></div>
                  <span class="service-price text-white bg-primary2">Service - III</span>
                  <h3 class="title heading4 text-white"><a href="#">Inter State Migrant Workmen</a></h3>
               </div>
               <div class="service-body bg-white">
                  <span class="icon"><i class="flaticon-house"></i></span>
                  <h3 class="title heading4 mb-15"><a href="#">Inter State Migrant Workmen</a></h3>
                  <p class="text">Licensing, Renewal and Amendments.</p>
                  <a href="@Url.Action("InterStateMigrantWorkmen", "Service")" class="link-btn">Read More<i class="fas fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="vs-service">
               <div class="service-header">
                  <div class="service-image"><img src="../assets/img/icon/constructionworker.jpg" alt="Service Image"></div>
                  <span class="service-price text-white bg-primary2">Service - IV</span>
                  <h3 class="title heading4 text-white"><a href="service.html">Building and Other Construction Work Act, 1996</a></h3>
               </div>
               <div class="service-body bg-white">
                  <span class="icon"><i class="flaticon-window-1"></i></span>
                  <h3 class="title heading4 mb-15"><a href="service.html">Building and Other Construction Work Act, 1996</a></h3>
                  <p class="text">Registration and Amendments.</p>
                  <a href="@Url.Action("BOCW", "Service")" class="link-btn">Read More<i class="fas fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>

          <div class="col-md-6 col-lg-4">
            <div class="vs-service">
               <div class="service-header">
                  <div class="service-image"><img src="../assets/img/icon/motortransport.jpg" alt="Service Image"></div>
                  <span class="service-price text-white bg-primary2">Service - V</span>
                  <h3 class="title heading4 text-white"><a href="#">Motor Transport Workers Act, 1961</a></h3>
               </div>
               <div class="service-body bg-white">
                  <span class="icon"><i class="flaticon-house"></i></span>
                  <h3 class="title heading4 mb-15"><a href="#">Motor Transport Workers Act, 1961</a></h3>
                  <p class="text">Licensing, Renewal and Amendments.</p>
                  <a href="@Url.Action("MotorTransport", "Service")" class="link-btn">Read More<i class="fas fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-lg-4">
            <div class="vs-service">
               <div class="service-header">
                  <div class="service-image"><img src="../assets/img/icon/trading.jpg" alt="Service Image"></div>
                  <span class="service-price text-white bg-primary2">Service - VI</span>
                  <h3 class="title heading4 text-white"><a href="service.html">Trade Unions Act, 1926</a></h3>
               </div>
               <div class="service-body bg-white">
                  <span class="icon"><i class="flaticon-window-1"></i></span>
                  <h3 class="title heading4 mb-15"><a href="service.html">Trade Unions Act, 1926</a></h3>
                  <p class="text">Registration and Amendments.</p>
                  <a href="@Url.Action("TradeUnion", "Service")" class="link-btn">Read More<i class="fas fa-long-arrow-right"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>